!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Mastermind
    %link{:href => "/css/main.css", :rel => "stylesheet"}
  %body
    %div.board{:style => "width: 250px; height: 400px"}
      - @guesses.each.with_index do |guess, i|
        %ul
          %li= guess[0]
          %li= guess[1]
          %li= guess[2]
          %li= guess[3]
          %li
          %li= @results[i][0]
          %li= @results[i][1]
          %li= @results[i][2]
          %li= @results[i][3]

      %form#radio_guess{:action => "/", :method => "post"}
        %div.guess

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg1", :value => "Pink"}
              %span


          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg2", :value => "Pink"}
              %span

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg3", :value => "Pink"}
              %span

          %div.guess_options
            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Blue"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Orange"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Green"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Purple"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Yellow"}
              %span

            %label.radio_hide
              %input{:type => "radio", :name => "Peg4", :value => "Pink"}
              %span

    %div.bottom_nav{:style => "width: 150px; height: 150px"}
      %div.bottom_navbar{:style => "width: 150px; height: 30px"}
        %input{:form => "radio_guess", :type => "submit", :value => "Guess!"}
        %form{:action => "/restart", :method => "post"}
          %input{:type => "submit", :value => "Restart!"}
